.countryCard {
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.203);
  justify-content: center;
  gap: 5px;
  /* padding-top: 5px; */
  border-radius: 5px;
}
.countryCard img {
  width: 60%;
  height: auto;
}
.countryCard h3 {
  margin: 0;
}
